In [1]:
# Import the dependencies.

import pandas as pd

import gmaps

import requests

# Import the API key

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data\cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tasiilaq,GL,2022-07-26 21:15:13,65.6145,-37.6368,41.16,93,100,0.72
1,1,Punta Arenas,CL,2022-07-26 21:12:18,-53.1500,-70.9167,37.11,69,0,9.22
2,2,Ribeira Grande,PT,2022-07-26 21:16:36,38.5167,-28.7000,75.27,80,41,6.98
3,3,Port Elizabeth,ZA,2022-07-26 21:16:36,-33.9180,25.5701,59.31,77,0,9.22
4,4,Uvira,CD,2022-07-26 21:16:36,-3.4067,29.1458,75.25,64,83,1.92

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [5]:
# Create heatmap for the maximum temperature. The general syntax for creating a heatmap is as follows.
# 1. Assign the locations to an array of latitude and longitude pairs.

locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.

max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.

fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.

fig.add_layer(heat_layer)

#6. Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
                                       
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ribeira Grande,PT,2022-07-26 21:16:36,38.5167,-28.7000,75.27,80,41,6.98
4,4,Uvira,CD,2022-07-26 21:16:36,-3.4067,29.1458,75.25,64,83,1.92
11,11,Mayahi,NE,2022-07-26 21:16:38,13.9553,7.6712,89.42,51,77,20.04
12,12,Albany,US,2022-07-26 21:11:45,42.6001,-73.9662,79.05,53,100,9.10
13,13,Guiratinga,BR,2022-07-26 21:16:39,-16.3494,-53.7583,83.89,25,0,2.64
16,16,Salamiyah,SY,2022-07-26 21:16:40,35.0113,37.0532,76.01,49,0,7.78
17,17,Sola,VU,2022-07-26 21:16:40,-13.8833,167.5500,80.17,78,30,12.39
19,19,Benito Juarez,MX,2022-07-26 21:16:41,19.3850,-99.1650,78.62,32,40,3.00
23,23,Monrovia,LR,2022-07-26 21:16:05,6.3005,-10.7969,75.51,83,73,7.43
26,26,Butaritari,KI,2022-07-26 21:14:55,3.0707,172.7902,82.18,74,11,19.37

In [11]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [12]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [13]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2   Ribeira Grande      PT     75.27  38.5167  -28.7000
4            Uvira      CD     75.25  -3.4067   29.1458
11          Mayahi      NE     89.42  13.9553    7.6712
12          Albany      US     79.05  42.6001  -73.9662
13      Guiratinga      BR     83.89 -16.3494  -53.7583
16       Salamiyah      SY     76.01  35.0113   37.0532
17            Sola      VU     80.17 -13.8833  167.5500
19   Benito Juarez      MX     78.62  19.3850  -99.1650
23        Monrovia      LR     75.51   6.3005  -10.7969
26      Butaritari      KI     82.18   3.0707  172.7902

In [14]:
# Set parameters to search for a hotel.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.

for i, row in hotel_df.iterrows():
    
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[i, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Ribeira Grande,PT,75.27,38.5167,-28.7000,Quinta da Meia Eira
4,Uvira,CD,75.25,-3.4067,29.1458,Hotel Suzana
11,Mayahi,NE,89.42,13.9553,7.6712,
12,Albany,US,79.05,42.6001,-73.9662,
13,Guiratinga,BR,83.89,-16.3494,-53.7583,Hotel Angra do Cerrado - Guiratinga MT
16,Salamiyah,SY,76.01,35.0113,37.0532,Gondolas Forum grandchildren and grandparents
17,Sola,VU,80.17,-13.8833,167.5500,Leumerus Bungalows
19,Benito Juarez,MX,78.62,19.3850,-99.1650,Hotel Beverly
23,Monrovia,LR,75.51,6.3005,-10.7969,Sunset Inn
26,Butaritari,KI,82.18,3.0707,172.7902,Isles Sunset Lodge

In [17]:
# Create an info box for each marker displaying the hotel name, city name, country code, and the maximum temperature values from the hotel_df DataFrame. 
info_box_template = """

<d1>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Max Temp</dt><dd>{Max Temp} °F</dd>

</dl>

"""

# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))